.banner{
    background-color: #CCC;
    background-position: center;
    background-size: cover;
    height:22.25rem;
    width:100%;
}

.title-panel{
    background-color: white;
    border-radius: 2.313rem 2.313rem 0 0;
    font-size:3.125rem;
    height:9.375rem;
    margin:0 auto;
    max-width:31.25rem;
}